html,
body {
  background-color: $site-color;
  font-family: $global-font-family;
  font-weight: 600;
  font-style: normal;
  min-height: 100vh;
  color: $color-font-1;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body.no-scroll {
  margin-right: var(--scrollbar-width);
  overflow: hidden;
}

.page-content {
  margin-top: 150px;
  margin-left: 50px;
  margin-right: 50px;
}

@media (max-width: 950px) {
  .page-content {
    margin-left: 15px;
    margin-right: 15px;
  }
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: gray;
}
