.theme-cards {
  display: flex;
  flex-direction: column;
}

.theme-cards__title {
  text-align: center;
  max-width: 640px;
}
.theme-cards__list {
  margin: 20px 0;
  padding: 20px;
  font-size: 20px;
  border: 3px solid white;
  border-radius: 10px;
  max-width: 600px;
}
