.theme-name-form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 5px;
  align-items: center;
}

.theme-name-form__editor {
  display: flex;
  flex-wrap: nowrap;
  width: 500px;
  min-width: 100px;
  gap: 5px;
}

.theme-name-form__label {
  min-width: 100px;
  font-size: 20px;
}

.theme-name-form__input {
  width: 100%;
  border-radius: 7px;
  font-size: 20px;
  height: 30px;
}
