.theme {
  height: 40px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  background: white;
  display: flex;
  justify-content: space-between;
}

.theme__owner {
  font-size: 10px;
  font-style: italic;
}
