.study-panel {
  height: 100vh;
}

.study-panel__container {
  display: grid;
  grid-template-rows: 9fr 1fr; /* 90% / 10% */
}

.study-panel__card {
  border: 3px solid white;
  border-radius: 10px;
}

.study-panel__tools {
  border: 3px solid white;
  border-radius: 10px;
}
