.my-themes__container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 600px;
  min-width: 100px;
}
.my-themes__title {
  font-size: 45px;
  text-align: center;
  margin: 0 10px;
}

.my-themes__box {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.my-themes__item {
  min-height: 50px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  background: white;
  display: flex;
  justify-content: space-between;
  color: $color-font-2;
}
