.my-themes__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 2;
  max-width: 500px;
  min-width: 300px;
}
.my-themes__title {
  font-size: 45px;
  text-align: center;
}

.my-themes__box {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.my-themes__item {
  height: 40px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  background: white;
  display: flex;
  justify-content: space-between;
  color: $color-font-2;
}
