.my-themes__container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 600px;
  min-width: 100px;
}
.my-themes__title {
  font-size: 45px;
  text-align: center;
  margin: 0 10px;
}

.my-themes__action {
  font-size: 18px;
  text-align: center;
}

.my-themes__box {
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 2px;
  border: 3px solid white;
  border-radius: 10px;

  &--empty {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
  }
}
.my-themes__item {
  min-height: 50px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  background: white;
  display: flex;
  justify-content: space-between;
  color: $color-font-2;
  &-name {
    display: flex;
    flex-direction: column;
    gap: 5px;
    &-owner {
      font-size: 10px;
      font-style: italic;
    }
  }
}
