.theme-creation {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  width: 600px;
  min-width: 100px;
}
.theme-creation__title {
  font-size: 45px;
  margin-top: 5px;
  text-align: center;
}

.theme-creation__form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 3px solid white;
  border-radius: 10px;
}

.theme-creation__label {
  display: flex;
  font-size: 25px;
}

.theme-creation__input {
  height: 25px;
  border-radius: 6px;
  width: 300px;
  height: 25px;
}

.theme-creation__button {
  max-width: 150px;
}

.theme-creation__error {
  font-size: 10px;
}
